<form method="POST" action="?class=Form&method=salvar">
    <input type="hidden" name="id" value="{id}" />
      <div>
        <label for="exercicio">Exercício: </label>
        <input type="text" name="exercicio" id="exercicio" required value="{exercicio}" />
      </div>
      <div>
          <label for="tempo">Tempo: </label>
          <input type="time" name="tempo" id="tempo" required value="{tempo}" />
        </div>
        <div>
          <label for="descanso">Descanso: </label>
          <input type="time" name="descanso" id="descanso" required value="{descanso}" />
        </div>
        <div>
            <button type="submit">Salvar</button>
        </div>
    </form>
  
  
  