<form method="POST" action="">
    <div>
      <label for="exercício">Exercicio: </label>
      <input type="text" name="exercicio" id="exercicio" required />
    </div>
    <div>
        <label for="tempo">Tempo: </label>
        <input type="time" name="tempo" id="tempo" required />
      </div>
      <div>
        <label for="descanso">Descanso: </label>
        <input type="time" name="descanso" id="descanso" required />
      </div>
      <div>
          <button type="submit">Salvar</button>
      </div>
  </form>


